<div class="container" id="users-edit">

  <h2 class="title">ユーザ情報編集</h2>

  <% if @user.errors.any? %>
    <%= @user.errors.count %>件のエラーがでいます。
    <%= @user.errors.full_messages.each do |message| %>
      <%= message %>
    <% end %>
  <% end %>

  <div class="row profile-box">

    <%= form_for(@user) do |f| %>
      <div class="col-xs-12 col-md-4 col-md-offset-2">
        <h4>プロフィール画像</h4>
        <%= f.attachment_field :profile_image %>
      </div>
      <div class="col-xs-12 col-md-4">
        <h4>ユーザ名</h4>
        <%= f.text_field :name, class: "form-control" %>
        <h4>メールアドレス</h4>
        <%= f.email_field :email, autocomplete: "email", class: "form-control" %>
        <h4>説明</h4>
        <%= f.text_area :body, class: "form-control" %>
        <%= f.submit 'ユーザ情報編集', class: "submit-btn" %>
      </div>
    <% end %>

  </div>

</div>