<h1>Users#show</h1>

<%# successメッセージを表示 %>
<% if flash[:notice] %>
  <p><%= flash[:notice] %></p>
<% end %>

<%# プロフィール画像とユーザ名 %>
<%= attachment_image_tag @user, :profile_image, fallback: "noimage.png" %>
<h2><%= @user.name %></h2>

<%# カレントユーザのみ編集リンク表示 %>
<% if user_signed_in? %>
  <% if @user.id === current_user.id %>
    <%= link_to "編集", edit_user_path %>
  <% end %>
<% end %>

<%# フォローボタン %>
<% if user_signed_in? %>
  <% if @user.id != current_user.id %>
    <% if current_user.following?(@user) %>
      <%= form_for(current_user.active_relationships.find_by(followed_id: @user.id),
               html: { method: :delete }) do |f| %>
        <%= f.submit "Unfollow" %>
      <% end %>
    <% else %>
      <%= form_for(current_user.active_relationships.build) do |f| %>
        <%= hidden_field_tag :followed_id, @user.id %>
        <%= f.submit "Follow" %>
      <% end %>
    <% end %>
    </div>
  <% end %>
<% end %>

<%# フォロー、フォロワー一覧へのリンク %>
<div class="follow-user-count-box">
  <h4>
    <%= link_to following_user_path(@user.id) do %>
      フォロー<%= @user.following.count %>
    <% end %>
  </h4>
  <h4>
    <%= link_to followers_user_path(@user.id) do %>
      フォロワー<%= @user.followers.count %>
    <% end %>
  </h4>
</div>

<%# ユーザの紹介文 %>
<p><%= @user.body %></p>

<%# ここからユーザの投稿一覧 %>
<% @user.posts.each do |post| %>

  <div class="post-item">

    <%# ここからbefore画像 %>
    <%= link_to post_path(post.id) do %>
      <%= attachment_image_tag post, :before_image, :fill, 400, 400 %>
    <% end %>
    <%# ここまで %>

    <%# ここからafter画像(cssにてhoverすると表示されるように設定) %>
    <%= link_to post_path(post.id) do %>
      <%= attachment_image_tag post, :after_image, :fill, 400, 400, class: "before_image" %>
    <% end %>
    <%# ここまで %>

    <%# ここからプロフィール画像(cssにてhoverすると表示されるように設定) %>
    <%= link_to user_path(@user.id) do %>
      <%= attachment_image_tag post.user, :profile_image,
       :fill, 10, 10, fallback: "noimage.png", size:'10x10', class: "profile_image" %>
    <% end %>
    <%# ここまで %>

    <%# ユーザ名(cssにてhoverすると表示されるように設定) %>
    <%= @user.name %>

  </div>

<% end %> 