<h1>Users#show</h1>

<% if flash[:notice] %>
  <p><%= flash[:notice] %></p>
<% end %>

<%= attachment_image_tag @user, :profile_image, fallback: "noimage.png" %>
<%= @user.name %>
<%= @user.body %>

<% if @user.id == current_user.id %>
  <%= link_to "編集", edit_user_path %>
<% end %>

