<div id="login">

  <div class="login-title">

    <div class="logo">
      <%= render 'layouts/logo'%>
    </div>

    <%= link_to new_user_registration_path do %>
      <h6>新規登録はこちら></h6>
    <% end %>

    <div class="login-form">
      <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
        <div class="field">
          <%= f.email_field :email, autofocus: true, autocomplete: "email", placeholder: "メールアドレス" %>
        </div>

        <div class="field">
          <%= f.password_field :password, autocomplete: "current-password", placeholder: "パスワード" %>
        </div>

        <% if devise_mapping.rememberable? %>
          <div class="field">
            <%= f.check_box :remember_me %>
            <%= f.label :ログイン情報を保存する %>
          </div>
        <% end %>

        <div class="actions">
          <%= f.submit "ログイン", class: "login-botan" %>
        </div>
      <% end %>

    </div>

  </div>

</div>
