<h1>Posts#index</h1>

<%# 投稿一覧を表示 %>
<% @posts.each do |post| %>

  <div class="post-item">

    <%# ここからbefore画像 %>
    <%= link_to post_path(post.id) do %>
      <%= attachment_image_tag post, :before_image, :fill, 50, 30 %>
    <% end %>
    <%# ここまで %>

    <%# ここからafter画像(cssにてhoverすると表示されるように設定) %>
    <%= link_to post_path(post.id) do %>
      <%= attachment_image_tag post, :after_image, :fill, 50, 30, class: "before_image" %>
    <% end %>
    <%# ここまで %>

    <%# ここからプロフィール画像(cssにてhoverすると表示されるように設定) %>
    <%= link_to user_path(post.user.id) do %>
      <%= attachment_image_tag post.user, :profile_image,
       :fill, 10, 10, fallback: "noimage.png", size:'10x10', class: "profile_image" %>
    <% end %>
    <%# ここまで %>

    <%# ここからユーザ名(cssにてhoverすると表示されるように設定) %>
    <%= post.user.name %>
    <%# ここまで %>

  </div>

<% end %> 