<h1>Posts#new</h1>

<%= form_for @post do |f| %>
  <%= f.attachment_field :before_image %>
  <%= f.attachment_field :after_image %>

  <h4>説明</h4>
  <%= f.text_area :body %>
  <p><%= f.submit 'Create' %></p>
<% end %>
