<h1>Posts#new</h1>

<% if @post.errors.any? %>
  <%= @post.errors.count %>件のエラーがでいます。
  <%= @post.errors.full_messages.each do |message| %>
    <%= message %>
  <% end %>
<% end %>



<div id="post-box">
  <%= form_for(@post, remote: true) do |f| %>
    <%= f.attachment_field :before_image, id: "preview-before" %>
    <div id="test1"></div>
    <%= f.attachment_field :after_image, id: "preview-after" %>
    <div id="test2"></div>
    <h4>説明</h4>
    <%= f.text_area :body %>
    <p><%= f.submit 'Create' %></p>
  <% end %>
</div>

