<div id="posts-show">

  <%# successメッセージを表示 %>
  <% if flash[:notice] %>
    <p><%= flash[:notice] %></p>
  <% end %>

  <%# 画像(クリックで表示変更させる) %>
  <div class="before-logo", id="posts-before">
    <%= image_tag "before-logo.png", class: "logo-image" %>
  </div>
  <div class="after-logo", id="posts-after" style= "display: none;">
    <%= image_tag "after-logo.png", class: "logo-image" %>
  </div>

  <div class="post-container">

    <%# before画像(クリックで表示変更させる) %>
    <div class="post-image", id="posts-image-before" onclick="changeAfter()" >
      <%= attachment_image_tag @post, :before_image, :fill, 500, 500 %>
    </div>

    <%# after画像(クリックで表示変更させる) %>
    <div class="post-image", id="posts-image-after" onclick="changeBefore()" style= "display: none;" >
      <%= attachment_image_tag @post, :after_image, :fill, 500, 500 %>
    </div>

    <div class="post-right-container">

      <div class="post-user-box">

        <%# プロフィール画像(ユーザ詳細ページへリンク) %>
        <%= link_to user_path(@post.user.id) do %>
          <%= attachment_image_tag @post.user, :profile_image,
           :fill, 50, 50, fallback: "noimage.png", size:'50x50', class: "post-user-profileimage" %>
        <% end %>

        <h2><%= @post.user.name %></h2>

        <%# カレントユーザのみ以下表示 %>
        <div class="post-edit-box">
          <% if user_signed_in? %>
            <% if @post.user.id === current_user.id || current_user.admin? %>
              <%= link_to "編集", edit_post_path, class: "post-edit-link" %>
              <%= link_to "削除", post_path(@post),
                   method: :delete, data: { confirm: '削除しますか？' }, class: "post-destroy-link" %>
            <% end %>
          <% end %>
        </div>

      </div>

      <%# 改行つけて説明文を表示 %>
      <div class="post-introduction">
        <p><%= simple_format(@post.body) %></p>
      </div>

      <%# いいねボタン非同期通信 %>
      <div id="favorites_buttons_<%= @post.id %>">
        <%= render partial: 'favorites/favorite', locals: { post: @post} %>
      </div>
    
    </div>

  </div>

  <%# 右下に配置してある投稿ボタン %>
  <%= render 'posts/post_new_logo'%>

</div>

