<div id="posts-show">

  <%# before画像 %>
  <div class="post-image", id="posts-image-before" onclick="changeAfter()" >
    <span>Before</span>
    <%= attachment_image_tag @post, :before_image, :fill, 600, 600 %>
  </div>

  <%# after画像(クリックで表示させる) %>
  <div class="post-image", id="posts-image-after" onclick="changeBefore()" style= "display: none;" >
    <span>After</span>
    <%= attachment_image_tag @post, :after_image, :fill, 600, 600 %>
  </div>

  <div class="post-user-box">
    <%# プロフィール画像(ユーザ詳細ページへリンク) %>
      <%= link_to user_path(@post.user.id) do %>
        <%= attachment_image_tag @post.user, :profile_image,
         :fill, 50, 50, fallback: "noimage.png", size:'50x50', class: "post-user-box-image" %>
      <% end %>    
    <div class="post-user-box-name">
      <h2><%= @post.user.name %></h2>
    </div>
  </div>

  <div class="post-introduction">
    <p><%= @post.body %></p>
  </div>

  <%# カレントユーザのみ以下表示 %>
  <% if user_signed_in? %>
    <% if @post.user.id === current_user.id %>
      <%= link_to "編集", edit_post_path %>
      <%= link_to "削除", post_path(@post.id), method: :delete, data: { confirm: '削除しますか？' } %>
    <% end %>
  <% end %>

</div>
