<div id="posts-show">

  <%# before画像 %>
  <div class="posts-image", id="posts-image-before" onclick="changeAfter()" >
    <span>Before</span>
    <%= attachment_image_tag @post, :before_image, :fill, 600, 600 %>
  </div>

  <%# after画像(クリックで表示させる) %>
  <div class="posts-image", id="posts-image-after" onclick="changeBefore()" style= "display: none;" >
    <span>After</span>
    <%= attachment_image_tag @post, :after_image, :fill, 600, 600 %>
  </div>

  <%# ここからプロフィール画像(ユーザ詳細ページへリンク) %>
  <%= link_to user_path(@post.user.id) do %>
    <%= attachment_image_tag @post.user, :profile_image,
     :fill, 30, 30, fallback: "noimage.png", size:'10x10' %>
  <% end %>
  <%# ここまで %>

  <h2><%= @post.user.name %></h2>
  <p><%= @post.body %></p>

  <%# カレントユーザのみ以下表示 %>
  <% if user_signed_in? %>
    <% if @post.user.id === current_user.id %>
      <%= link_to "編集", edit_post_path %>
      <%= link_to "削除", post_path(@post.id), method: :delete, data: { confirm: '削除しますか？' } %>
    <% end %>
  <% end %>

</div>
