<div id="posts-show">

  <%# successメッセージを表示 %>
  <% if flash[:notice] %>
    <p><%= flash[:notice] %></p>
  <% end %>

  <%# 画像(クリックで表示変更させる) %>
  <p class="before", id="posts-before">
    Before
  </p>
  <p class="after", id="posts-after" style= "display: none;">
    After!!
  </p>

  <div class="post">

    <%# before画像(クリックで表示変更させる) %>
    <div class="post-image", id="posts-image-before" onclick="changeAfter()" >
      <%= attachment_image_tag @post, :before_image, :fill, 600, 600 %>
    </div>

    <%# after画像(クリックで表示変更させる) %>
    <div class="post-image", id="posts-image-after" onclick="changeBefore()" style= "display: none;" >
      <%= attachment_image_tag @post, :after_image, :fill, 600, 600 %>
    </div>

    <div class="post-box">
      <div class="post-box-profile">
        <%# プロフィール画像(ユーザ詳細ページへリンク) %>
          <%= link_to user_path(@post.user.id) do %>
            <%= attachment_image_tag @post.user, :profile_image,
             :fill, 50, 50, fallback: "noimage.png", size:'50x50', class: "post-box-profile" %>
          <% end %>    
        <div class="post-box-user-name">
          <h2><%= @post.user.name %></h2>
        </div>
      </div>

      <div class="post-box-introduction">
        <p><%= @post.body %></p>
      </div>
    </div>

  </div>

  <%# カレントユーザのみ以下表示 %>
  <% if user_signed_in? %>
    <% if @post.user.id === current_user.id %>
      <%= link_to "編集", edit_post_path %>
      <%= link_to "削除", post_path(@post), method: :delete, data: { confirm: '削除しますか？' } %>
    <% end %>
  <% end %>

</div>
