<!DOCTYPE html>
<html>

  <head>
    <title>BeforeAfter</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    
    <header>
      <% if user_signed_in? %>
        <ul>
          <li><%= link_to "このサイトについて" %></li>
          <li><%= link_to "一覧" %></li>
          <li><%= link_to "人気" %></li>
          <li><%= link_to "新着" %></li>
          <li><%= link_to "Mypage" %></li>
          <li><%= link_to "Logout", destroy_user_session_path, method: :delete %></li>
        </ul>
      <% else %>
        <ul>
          <li><%= link_to "このサイトについて" %></li>
          <li><%= link_to "一覧" %></li>
          <li><%= link_to "人気" %></li>
          <li><%= link_to "新着" %></li>
          <li><%= link_to "Signup", new_user_registration_path %></li>
          <li><%= link_to "Login", new_user_session_path %></li>
        </ul>
      <% end %>
    </header>

    <%= yield %>
  </body>

</html>
