<!DOCTYPE html>
<html>

  <head>
    <title>BeforeAfter</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    
    <header>
      <% if user_signed_in? %>
      <%# ログインしているユーザ %>
        <ul>
          <li><%= link_to "このサイトについて" %></li>
          <li><%= link_to "タイムライン", posts_path %></li>
          <li>
            <%= form_tag(posts_path, method: :get) do |f| %>
              <%= hidden_field_tag :ranking %>
              <%= submit_tag "人気" %>
            <% end %>
          </li>
          <li>
            <%= form_tag(posts_path, method: :get) do |f| %>
              <%= hidden_field_tag :new %>
              <%= submit_tag "新着" %>
            <% end %>
          </li>
          <li><%= link_to "Mypage", user_path(current_user.id) %></li>
          <li><%= link_to "Logout", destroy_user_session_path, method: :delete %></li>
        </ul>
      <% else %>
      <%# ログインしていないユーザ %>
        <ul>
          <li><%= link_to "このサイトについて" %></li>
          <li>
            <%= form_tag(posts_path, method: :get) do |f| %>
              <%= hidden_field_tag :ranking %>
              <%= submit_tag "人気" %>
            <% end %>
          </li>
          <li>
            <%= form_tag(posts_path, method: :get) do |f| %>
              <%= hidden_field_tag :new %>
              <%= submit_tag "新着" %>
            <% end %>
          </li>
          <li><%= link_to "Signup", new_user_registration_path %></li>
          <li><%= link_to "Login", new_user_session_path %></li>
        </ul>
      <% end %>
    </header>

    <%= yield %>

    <%# 各ページ右下に配置してある投稿ボタン %>
    <div class="post-new">
      <div class="post-new-btn">
        <%= link_to new_post_path do %>
          <%= image_tag "camera.png", class: "post-new-image" %>
        <% end %>
      </div>
    </div>
  </body>

</html>




