<!DOCTYPE html>
<html>

  <head>
    <title>BeforeAfter</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    
    <header id="header">

      <%# ログインしているユーザ %>
      <% if user_signed_in? %>

        <nav class="header-nav-container">

          <%# 中央の各投稿一覧ページへのリンク %>
          <ul class="header-front-container">
            <li class="header-postlist-listitem"><%= link_to "タイムライン",
                posts_path, class: "header-postlist-link" %>
            </li>
            <li class="header-postlist-listitem">
              <%= link_to "人気投稿", posts_path(ranking: "params"), class: "header-postlist-link" %>
            </li>
            <li class="header-postlist-listitem">
              <%= link_to "新着", posts_path(new: "params"), class: "header-postlist-link" %>
            </li>
          </ul>

          <%# 左側のマイページとマスターランキングへのリンク %>
          <ul class="header-left-conteiner">
            <li class="header-mypage-listitem">
              <%= link_to user_path(current_user.id) do %>
                <%= image_tag "mypage.png", class: "header-mypage-link" %>
              <% end %>
            </li>
            <li class="header-masterranking-listitem">
              <%= link_to users_ranking_path do %>
                <%= image_tag "masterranking.png", class: "header-masterranking-link" %>
              <% end %>
            </li>
          </ul>

          <%# topページへのリンク %>
          <ul class="header-about-container">
            <li>
              <%= link_to "このサイトについて", root_path %>
            </li>
          </ul>

          <%# 右側のログアウトリンク %>
          <ul class="header-right-container">
            <li class="header-accountoperation-listitem">
              <%= link_to  destroy_user_session_path, method: :delete,
                   class: "header-accountoperation-link" do %>
                <%= image_tag "logout.png", class: "header-accountoperation-image" %>
              <% end %>
            </li>
          </ul>

        </nav>

      <%# ログインしていないユーザ %> 
      <% else %>

        <nav class="header-nav-container">

          <%# 中央の各投稿一覧ページへのリンク %>
          <ul class="header-front-container">
            <li class="header-postlist-listitem">
              <%= link_to "人気投稿", posts_path(ranking: "params"), class: "header-postlist-link" %>
            </li>
            <li class="header-postlist-listitem">
              <%= link_to "新着", posts_path(new: "params"), class: "header-postlist-link" %>
            </li>
          </ul>

          <%# 左側のマスターランキングへのリンク %>
          <ul class="header-left-conteiner">
            <li class="header-masterranking-listitem">
              <%= link_to users_ranking_path do %>
                <%= image_tag "masterranking.png", class: "header-masterranking-link" %>
              <% end %>
            </li>
          </ul>

          <%# topページへのリンク %>
          <ul class="header-about-container">
            <li>
              <%= link_to "このサイトについて", root_path %>
            </li>
          </ul>

          <%# 右側の新規登録とログインへのリンク %>
          <ul class="header-right-container">
            <li class="header-accountoperation-listitem">
              <%= link_to new_user_registration_path, class: "header-accountoperation-link" do %>
                <%= image_tag "signup.png", class: "header-accountoperation-image" %>
              <% end %>
            </li>
            <li class="header-accountoperation-listitem">
              <%= link_to new_user_session_path, class: "header-accountoperation-link" do %>
                <%= image_tag "login.png", class: "header-accountoperation-image" %>
              <% end %>
            </li>
          </ul>

        </nav>

      <% end %>

    </header>

    <%= yield %>

    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    
  </body>

</html>




