<!DOCTYPE html>
<html>

  <head>
    <title>BeforeAfter</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    
    <header>

      <%# ログインしているユーザ %>
      <% if user_signed_in? %>

        <nav>

          <ul>
            <li class="nav-box-user-item">
              <%= link_to "マイページ",user_path(current_user.id), class: "nav-box-user-item-btn" %>
            </li>
            <li class="nav-box-user-item">
              <%= link_to "片付けマスターランキング",users_ranking_path, class: "nav-box-user-item-btn" %>
            </li>
          </ul>

          <ul class="nav-box-posts">
            <li class="nav-box-posts-item"><%= link_to "タイムライン",
                posts_path, class: "nav-box-posts-item-link" %>
            </li>
            <li class="nav-box-posts-item">
              <%= link_to "人気投稿", posts_path(ranking: "params"), class: "nav-box-posts-item-link" %>
            </li>
            <li class="nav-box-posts-item">
              <%= link_to "新着", posts_path(new: "params"), class: "nav-box-posts-item-link" %>
            </li>
          </ul>

          <ul class="nav-box-about">
            <li class="nav-box-about-item">
              <%= link_to "このサイトについて", root_path %>
            </li>
          </ul>

          <ul class="nav-box-user">
            <li class="nav-box-user-item">
              <%= link_to "ログアウト", destroy_user_session_path, method: :delete, 
              class: "nav-box-user-item-btn" %>
            </li>
          </ul>

        </nav>

      <%# ログインしていないユーザ %> 
      <% else %>

        <nav>

          <ul>
            <li class="nav-box-user-item">
              <%= link_to "片付けマスターランキング",users_ranking_path, class: "nav-box-user-item-btn" %>
            </li>
          </ul>

          <ul class="nav-box-posts">
            <li class="nav-box-posts-item">
              <%= link_to "人気投稿", posts_path(ranking: "params"), class: "nav-box-posts-item-link" %>
            </li>
            <li class="nav-box-posts-item">
              <%= link_to "新着", posts_path(new: "params"), class: "nav-box-posts-item-link" %>
            </li>
          </ul>

          <ul class="nav-box">
            <li class="nav-box-about-item">
              <%= link_to "このサイトについて", root_path %>
            </li>
          </ul>

          <ul class="nav-box-user">
            <li class="nav-box-user-item">
              <%= link_to "新規登録", new_user_registration_path,class: "nav-box-user-item-btn" %>
            </li>
            <li class="nav-box-user-item">
              <%= link_to "ログイン", new_user_session_path,class: "nav-box-user-item-btn" %>
            </li>
          </ul>

        </nav>

      <% end %>

    </header>

    <%= yield %>

    <%# 各ページ右下に配置してある投稿ボタン %>
    <div class="post-new">
      <div class="post-new-btn">
        <%= link_to new_post_path do %>
          <%= image_tag "camera.png", class: "post-new-image" %>
        <% end %>
      </div>
    </div>

    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    
  </body>

</html>




